/*-------------------------------------------------CLASS STYLING-----------------------------------------------------*/

.top-container{
  background-color: #eeeeee;
  padding: 50px 0 50px 0;
  position: relative;
}
.jumbotron{
  margin-bottom: 0;
  background-image: url(images/jumbotron.jpg);
}
.Login{
  margin-left: 10px;
}
.bottom-container{
  position: relative;
  background-color: grey;
  padding: 50px 0 20px 0;
}
.facebook{
  width: 30px;
}
.end{
  font-size: 15px;
  text-align: center;
  color: white;
}
