$blue: #74b9ff;
body {
  font-family: 'Raleway', sans-serif;
}
.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  float: left;
}
.top {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;

  .no-gutters {
    padding: 0;
  }
}
.top1 {
  padding: 10px 15px;
  margin-right: -20px;

  .no-gutters {
    padding: 0;
  }
}
.search-box {
  background: #fafafa;
  padding: 10px 15px;

  .input-wrapper {
    background: #fff;
    border-radius: 40px;

  }
}
input {
  border: none;
  border-radius: 20px;
  width: 95%;
  height: 40px;
}
.btn{
  width:90px;
  height :80%;
}
.content {
  padding: 10px 15px;
  display: flex;
  background: #fff;
  &--grey {
    background: mintcream;
  }

  .text {
    margin-left: 12px;
    width: 70%;

    h6 {
      margin-top: 6px;
    }

    p {
      margin: 0;
    }
  }
}
hr {
  margin: 5px auto;
  width: 60%;
}
.chat-messages {
  padding: 10px 14px;
  background: powderblue;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  &--left  {
      left: 0;
      border-right-color: #eee;
	    border-left: 0;
      margin-left: -20px;
    }
  }
  &--right {
      right: 0;
      border-left-color: $blue;
	    border-right: 0;
      margin-right: -20px;
    }
  }
}

.offset-md-9 {
  .chat-messages {
    background: $blue;
    color: #fff;
  }
}
.message-area {
  background: #eee;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin-top: 19px;

  input {
    margin: 0 10px;
    padding: 6px 2px;
  }
}
